@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.user-photo {
  width: 50px;
  height: 50px;
}

.user-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  font-size: 18px;
  font-weight: 700;
}

.day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.day-title {
  font-size: 36px;
  font-weight: 700;
}

.day-date {
  font-size: 18px;
  font-weight: 300;
  color: var(--tg-theme-subtitle-text-color);
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.lesson {
  display: flex;
  gap: 8px;
  padding: 0 16px;
  font-size: 18px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  margin: 0 auto;
  padding: 16px;
}

.tg-legend {
  padding: 0;
  font-size: 36px;
  font-weight: 700;
}

form div {
  display: contents;
}

input[name="tg-input"],
select[name="tg-select"],
textarea[name="tg-textarea"] {
  width: 100%;
  height: 36px;
  padding: 8px;
  font-family: inherit;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-hint-color);
  box-sizing: border-box;
  appearance: none;
}

input[name="tg-input"]:focus,
select[name="tg-select"]:focus,
textarea[name="tg-textarea"]:focus {
  border-color: var(--tg-theme-accent-text-color);
  outline: none;
}

textarea {
  min-height: 144px;
  resize: none;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px;
}

input[type="range"] {
  width: 100%;
  height: 18px;
  margin: 0;
  outline: none;
}
